body, html{ 
    margin:  0;
    font-size: 16px;
    color: #777;
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    
    
}

.conteudo {
    color: #777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;

}

h3 {
    text-transform: uppercase;
    color: #111;
    text-align: center;
}

/*Efeito Parallax */

.caixa1, .caixa2, .caixa3, .caixa4 {
position: relative;
background-repeat: no-repeat;
opacity: 0.7;
height: 100%;
background-size: cover;
background-position: center;
background-attachment: fixed;
}

.caixa1 { 
    background-image: url(imagens/imagem1.jpg);
}

.caixa2 {
    background-image: url(imagens/imagem2.jpg);
}

.caixa3 {
    background-image: url(imagens/imagem3.jpg);
}

.caixa4 {
    background-image: url(imagens/imagem4.jpg);
}

.titulo {
    position: absolute;
    left: 0;
    top:45%;
    width: 100%;
    text-align: center;
   
}

.titulo span {
    color: #fff;
    background-color: #111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
}
